<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="cordova.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css"/>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/pgb.js"></script>
    <script src="js/firebase.js"></script>
</head>
<body ng-app="MeetApp" ng-controller="controller" onload="init()">
<h1>Hi, {{currentUser.name}}! Current group:{{currentGroup.name}} All groups:{{currentUser.groups}} Events: {{currentGroup.events}} Current event: {{currentEvent}}</h1>
<label>Name:
    <input ng-model="currentUser.name">
</label>
<label>Lastname:
    <input ng-model="currentUser.lastname">
</label>
<label>Mail:
    <input ng-model="currentUser.mail">
</label>
<label>Phone:
    <input ng-model="currentUser.phone">
</label>
<button ng-click="addUser()">login</button>
<label>Group name:
    <input ng-model="currentGroup.name">
</label>
<button ng-click="addGroup()">add group</button>
<label>Other user mail:
    <input ng-model="otherUser.mail">
</label>
<button ng-click="addUserToGroup(otherUser)">Add user to current group</button>
<label>Message:
    <input ng-model="currentMessage.content">
</label>
<input ng-model="currentEvent.name">
<button ng-click="">Add event</button>
<input ng-model="otherUser.mail">
<button ng-click="">Add participant to event</button>
<button ng-click="sendMessage()">Wyślij</button>
<div ng-repeat="x in currentGroup.chat">{{x.author}} napisał: {{x.content}}<hr></div>
</body>
<script>
    const config = {
        apiKey: "AIzaSyAuvAZqxZvsINf-phvCmvfkdMwiDGO9WyE",
        authDomain: "bai18-a647f.firebaseapp.com",
        databaseURL: "https://bai18-a647f.firebaseio.com",
        projectId: "bai18-a647f",
        storageBucket: "",
        messagingSenderId: "59249875291"
    };
    firebase.initializeApp(config);
</script>
</html>
